@tailwind base;
@tailwind components;

.pruebaSDL{
    background-color: blue;
    color: chartreuse;
    font-family: 'Oswald', sans-serif;
}
@tailwind utilities;



/* nuestras fuentes */
@import 'css/our-fonts.css';




/* nuestro css */
.fmontserrat{
    font-family: 'Montserrat', sans-serif !important;
}

h2{
    font-family: 'Montserrat', sans-serif !important;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h3 {
    font-family: 'Montserrat', sans-serif !important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5 !important;
    font-family: 'Lato', sans-serif;
}




